.u-profile{
    position: absolute;
    display: block;
    height: 25vh;
    width: 30vw;
    top: 58vh;
    left: .5vw;
    border-radius: 10%;
}

.u-hand{
    position: absolute;
    display: block;
    height: 20vh;
    width: 25vw;
    top: 65vh;
    left: 36vw;
    border-radius: 10%;
}

.d-hand{
    position: absolute;
    display: block;
    height: 20vh;
    width: 25vw;
    top: 42vh;
    left: 36vw;
    border-radius: 10%;
}

.buttons{
    position: absolute;
    display: block;
    height: 25vh;
    width: 25vw;
    top: 58vh;
    left: 69vw;
    border-radius: 10%;
    background: url('dark-grey-background.png') 0 0 no-repeat;
    border: .5vmin solid rgb(39, 39, 39);
}

.dealer-avatar{
    position: absolute;
    display: block;
    height: 75vh;
    width: 28vw;
    perspective: 1600px;
    /* transform: rotatex(50deg); */
    top: -2vh;
    left: 35vw;
    background: transparent url('jack-1.png') 0 0 no-repeat;
    background-size: contain;
}

.game-table{
    position: absolute;
    display: block;
    height: 75vh;
    width: 70vw;
    perspective: 1600px;
    transform: rotatex(55deg);
    top: 27vh;
    left: 14vw;
    background: url('black-jack-table.png') 0 0 no-repeat;
    background-size: contain;

}

.card{
    position: absolute;
    display: block;
    height: 75vh;
    width: 70vw;
    perspective: 1600px;
    transform: rotatex(55deg);
}