.home-sign-in-container{
    position: absolute;
    display: block;
    height: 46vh;
    width: 35vw;
    top: 19vh;
    left: 30vw;
    border-radius: 5%;
    z-index: 0;
    background: url('dark-grey-background.png') 0 0 no-repeat;
    border: .5vmin solid rgb(39, 39, 39);
}

.home-form-container{
    position: absolute;
    display: block;
    height: 38vh;
    width: 33.5vw;
    top: .50vh;
    left: .50vw;
    border-radius: 5%;
    background: url('grey-background.jpeg') 0 0 no-repeat;
    border: .5vmin solid rgb(44, 44, 44);
}

.sign-up-button-container{
    position: absolute;
    display: block;
    height: 5vh;
    width: 10vw;
    top: 40vh;
    left: 5vw;
    z-index: 1;
    border-radius: 5%;
}


.login-button-container{
    position: absolute;
    display: block;
    height: 5vh;
    width: 10vw;
    top: 40vh;
    left: 20vw;
    z-index: 1;
    border-radius: 5%;
}



