.age-prompt-container{
    position: absolute;
    display: block;
    height: 22vh;
    width: 44.5vw;
    top: 10vh;
    left: 24vw;
    z-index: 1;
    border-radius: 5%;
    background: url('dark-grey-background.png') 0 0 no-repeat;
    border: .5vmin solid rgb(39, 39, 39);

}

.age-text-container{
    position: absolute;
    display: block;
    height: 12.5vh;
    width: 43vw;
    top: .5vh;
    left: .5vw;
    z-index: 2;
    border-radius: 5%;
    text-align: center;
    background: url('grey-background.jpeg') 0 0 no-repeat;
    border: .5vmin solid rgb(44, 44, 44);
}

.age-text{
    z-index: 3;
    font-size: 4vmin;
    color: red;
    font-weight: 500;
}

.age-yes-container{
    position: absolute;
    display: block;
    height: 5vh;
    width: 10vw;
    top: 15vh;
    left: 10vw;
    z-index: 2;
    border-radius: 5%;
}

.age-no-container{
    position: absolute;
    display: block;
    height: 5vh;
    width: 10vw;
    top: 15vh;
    left: 25vw;
    z-index: 2;
    border-radius: 5%;
}

.age-yes-button, .age-no-button{
    position: absolute;
    display: block;
    height: 5vh;
    width: 10vw;
}

.age-yes-button{
    z-index: 3;
    background: rgba(51, 206, 51, 0.75);
    font-size: 2.5vmin;
    color: rgba(0, 53, 0, 0.75);
}

.age-no-button{
    z-index: 3;
    background: rgba(201, 18, 18, 0.75);
    font-size: 2.5vmin;
    color: rgba(59, 0, 0, 0.75);
}

.stop-jack{
    position: absolute;
    display: block;
    height: 60vh;
    width: 55vw;
    top: 27vh;
    left: 41vw;
    z-index: 1;
    background: transparent url('jack-black-stop.png') 0 0 no-repeat;
}