.two-third-container{
    position: absolute;
    display: block;
    height: 80vh;
    width: 67vw;
    top: 2vh;
    left: 26.5vw;
    border-radius: 5%;
    background: url('dark-grey-background.png') 0 0 no-repeat;
    border: .5vmin solid rgb(39, 39, 39);
}

.game-container{
    position: absolute;
    display: block;
    height: 51vmin;
    width: 65.5vmax;
    top: .5vmin;
    left: .5vmin;
    border-radius: 5%;
    background: url('grey-background.jpeg') 0 0 no-repeat;
    border: .5vmin solid rgb(44, 44, 44);
}

.game-image-container{
    position: absolute;
    display: block;
    height: 49vmin;
    width: 43vw;
    top: .5vmin;
    left: .5vw;
    border-radius: 5%;
    border: .5vmin solid rgb(100, 100, 100);
    background: url('jack-4.jpeg') 0 0 no-repeat;
    background-size: contain;
}

.game-details-container{
    position: absolute;
    display: block;
    height: 49vh;
    width: 20vw;
    top: .5vh;
    left: 44.5vw;
    border-radius: 5%;
    background:  rgb(122, 122, 122);
    border: .5vmin solid rgb(100, 100, 100);
}

.start-game-button-container{
    position: absolute;
    display: block;
    height: 5vh;
    width: 10vw;
    top: 36vh;
    left: 16vw;
    z-index: 10;
    text-align: center;
    border-radius: 10%;
}

.start-game{
    position: absolute;
    display: block;
    height: 5vh;
    width: 10vw;
    z-index: 20;
    text-align: center;
    border-radius: 10%;
    background:  rgb(150, 150, 150);
    border: .5vmin solid rgb(167, 167, 167);
}

.game-title-container{
    position: absolute;
    display: block;
    height: 7vh;
    width: 19vw;
    top: .25vh;
    left: .25vw;
    text-align: center;
    border-radius: 10%;
    background:  rgb(150, 150, 150);
    border: .5vmin solid rgb(122, 122, 122);
}

.game-details-body{
    position: absolute;
    display: block;
    height: 38vh;
    width: 19vw;
    top: 9vh;
    left: .25vw;
    text-align: center;
    border-radius: 10%;
    background:  rgb(150, 150, 150);
    border: .5vmin solid rgb(122, 122, 122);
}

.games-index{
    position: absolute;
    display: block;
    height: 25vmin;
    width: 65.5vmax;
    top: 53vmin;
    left: .5vmin;
    border-radius: 7%;
    background: url('grey-background.jpeg') 0 0 no-repeat;
    border: .5vmin solid rgb(44, 44, 44);
}

.user-container{
    position: absolute;
    display: block;
    height: 80vh;
    width: 25vw;
    top: 2vh;
    left: 0.5vw;
    border-radius: 10%;
    background: url('dark-grey-background.png') 0 0 no-repeat;
    border: .5vmin solid rgb(39, 39, 39);
}


