.edit-button-container{
    position: absolute;
    display: block;
    height: 4.5vmin;
    width: 40vmin;
    top: 10vh;
    left: 4.5vw;
    border-radius: 5%;
}

.edit-button{
    position:absolute;
    display: block;
    height: 4.5vmin;
    width: 40vmin;
    background:  rgb(150, 150, 150);
    border: .5vmin solid rgb(167, 167, 167);
}

.user-edit-form-container{
    position: absolute;
    display: block;
    height: 41.5vh;
    width: 31.25vw;
    top: .5vmin;
    left: .5vmin;
    border-radius: 5%;
}

.user-edit-form{
    position: absolute;
    display: block;
    height: 39.50vh;
    width: 20vw;
    top: 1vh;
    left: 5.5vw;
    border-radius: 5%;
    background:  rgb(122, 122, 122);
    border: .5vmin solid rgb(100, 100, 100);
}

.user-edit-form-div{
    height: 7vh;
    width: 20vw;
    /* left: 2.5vw; */
    border-radius: 5%;
}

.edit-label{
    font-size: 3vmin;
}

.edit-input{
    height: 3vmin;
    width: 30vmin;
}

.submit-button{
    position:absolute;
    display: block;
    height: 4.5vmin;
    width: 14vmin;
    left: 1vmin;
    background:  rgb(150, 150, 150);
    border: .5vmin solid rgb(167, 167, 167);
}

.cancel-user-edit-button{
    position:absolute;
    display: block;
    height: 4.5vmin;
    width: 14vmin;
    left: 20vmin;
    background:  rgb(150, 150, 150);
    border: .5vmin solid rgb(167, 167, 167);
}