.delete-user-button-container{
    position: absolute;
    display: block;
    height: 4.5vmin;
    width: 40vmin;
    top: 19vh;
    left: 4.5vw;
    border-radius: 5%;
}

.delete-user-button{
    position:absolute;
    display: block;
    height: 4.5vmin;
    width: 40vmin;
    background:  rgb(150, 150, 150);
    border: .5vmin solid rgb(167, 167, 167);
}

.delete-user-prompt-container{
    position: absolute;
    display: block;
    height: 20vmin;
    width: 40vmin;
    top: 10vmin;
    left: 4.5vw;
    border-radius: 10%;
    background:  rgb(122, 122, 122);
    border: .5vmin solid rgb(100, 100, 100);
}

.delete-user-prompt-text{
    font-size: 2.75vmin;
    position: absolute;
    display: block;
    height: 10vh;
    width: 20vw;
    top: -1vmin;
    left: 2vmin;
    border-radius: 10%;
    background:  rgb(150, 150, 150);
    border: .5vmin solid rgb(167, 167, 167);
}

.delete-user-prompt-button-container{
    position: absolute;
    display: block;
    height: 5vmin;
    width: 35vmin;
    top: 14vmin;
    left: 2vmin;
    border-radius: 10%;
}

.yes-delete-user-button{
    position: absolute;
    display: block;
    height: 5vmin;
    width: 15vmin;
    top: 0vmin;
    left: 1.5vmin;
    border-radius: 10%;
    background:  rgb(255, 81, 81);
    border: .5vmin solid rgb(255, 48, 48);
    color: white;
}

.no-delete-user-button{
    position: absolute;
    display: block;
    height: 5vmin;
    width: 15vmin;
    top: 0vmin;
    left: 18.5vmin;
    border-radius: 10%;
    background:  rgb(150, 150, 150);
    border: .5vmin solid rgb(167, 167, 167);
}

.delete-user-form-container{
    position: absolute;
    display: block;
    height: 5vmin;
    width: 35vmin;
    top: 14vmin;
    left: 2vmin;
    border-radius: 10%;
}

.delete-user-input{
    position: absolute;
    display: block;
    height: 4vmin;
    width: 25vmin;
    top: 0vmin;
    left: 0vmin;
    border-radius: 10%;
}

.confirm-user-delete{
    position: absolute;
    display: block;
    height: 5vmin;
    width: 9vmin;
    top: 0vmin;
    left: 26vmin;
    border-radius: 10%;
    background:  rgb(255, 81, 81);
    border: .5vmin solid rgb(255, 48, 48);
    color: white;
}
