.set-btn-container{
    position: absolute;
    display: block;
    height: 5vmin;
    width: 5vmin;
    top: 1vh;
    left: 20.5vw;
    z-index: 10;
    text-align: center;
    border-radius: 50%;
    background: url('grey-background.jpeg') 0 0 no-repeat;
    border: .5vmin solid rgb(44, 44, 44);
}

.settings-button{
    background: transparent;
    border: transparent;
    border-radius: 50%;
    font-size:4vmin;
    z-index: 11;
}

.settings-title-div{
    position: absolute;
    display: block;
    height: 12vh;
    width: 32.5vmax;
    top: 10vmin;
    left: 31vmin;
    text-align: center;
    border-radius: 7%;
    background: url('grey-background.jpeg') 0 0 no-repeat;
    border: .5vmin solid rgb(44, 44, 44);
}

.settings-title{
    font-size: 5vmin;
}

.settings-options-div{
    position: absolute;
    display: block;
    height: 44vmin;
    width: 32.5vmax;
    top: 24vmin;
    left: 31vmin;
    border-radius: 5%;
    background: url('grey-background.jpeg') 0 0 no-repeat;
    border: .5vmin solid rgb(44, 44, 44);
}

.exit-settings-button-container{
    position: absolute;
    display: block;
    height: 4.5vmin;
    width: 40vmin;
    top: 28vh;
    left: 4.5vw;
    border-radius: 5%;
}

.exit-settings-button{
    position:absolute;
    display: block;
    height: 4.5vmin;
    width: 40vmin;
    background:  rgb(150, 150, 150);
    border: .5vmin solid rgb(167, 167, 167);
}