.profile-picture{
    position: absolute;
    display: block;
    width: 30vmin;
    height: 30vmin;
    top: .5vmin;
    left: .5vmin;
    border-radius: 50%;
    border: .5vmin solid rgb(100, 100, 100);
}

.main-profile-picture-container{
    position: absolute;
    display: block;
    height: 32vmin;
    width: 32vmin;
    top: 1vh;
    left: 3vw;
    border-radius: 50%;
    background: url('grey-background.jpeg') 0 0 no-repeat;
    border: .5vmin solid rgb(44, 44, 44);
}

.user-card-profile{
    position: absolute;
    display: block;
    height: 44vh;
    width: 23.75vw;
    top: 34vmin;
    left: .5vmin;
    border-radius: 10%;
    background: url('grey-background.jpeg') 0 0 no-repeat;
    border: .5vmin solid rgb(44, 44, 44);
}

.name-container{
    position: absolute;
    display: block;
    text-align: center;
    height: 6vh;
    width: 20vw;
    top: 1vh;
    left: 2.5vmin;
    border-radius: 15%;
    background:  rgb(122, 122, 122);
    border: .5vmin solid rgb(100, 100, 100);
}

.token-container{
    position: absolute;
    display: block;
    text-align: center;
    height: 6vh;
    width: 20vw;
    top: 9vmin;
    left: 2.5vmin;
    border-radius: 10%;
    background:  rgb(122, 122, 122);
    border: .5vmin solid rgb(100, 100, 100);
}

.username{
    font-size: 3vmin;
}

.tokens{
    font-size: 3vmin;
}